## Load libraries

In [1]:
remove.packages("rlang")

Removing package from ‘/Library/Frameworks/R.framework/Versions/4.1-arm64/Resources/library’
(as ‘lib’ is unspecified)

In [2]:
install.packages("tidyverse")
install.packages("rlang")

also installing the dependency ‘rlang’

  There are binary versions available but the source versions are later:
          binary source needs_compilation
rlang      1.0.3  1.0.4              TRUE
tidyverse  1.3.1  1.3.2             FALSE

installing the source packages ‘rlang’, ‘tidyverse’

  There is a binary version available but the source version is later:
      binary source needs_compilation
rlang  1.0.3  1.0.4              TRUE

installing the source package ‘rlang’

In [3]:
library(gmodels)
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [4]:
loans = read.csv('/Users/kenyashiafernandez/Downloads/loans.csv')

In [5]:
head(loans)

  X term       loan_status Date      home_ownership
1 1  36 months Fully Paid  12/1/2011 RENT
2 2  60 months Charged Off 12/1/2011 RENT
3 3  36 months Fully Paid  12/1/2011 RENT
4 4  36 months Fully Paid  12/1/2011 RENT
5 5  60 months Current     12/1/2011 RENT
6 6  36 months Fully Paid  12/1/2011 RENT

## Does the term of the loan influence loan status? If so, how?

In [6]:
CrossTable(loans$term, loans$loan_status, fisher=TRUE, chisq = TRUE, expected = TRUE, sresid=TRUE, format="SPSS")

   Cell Contents
|-------------------------|
|                   Count |
|         Expected Values |
| Chi-square contribution |
|             Row Percent |
|          Column Percent |
|           Total Percent |
|            Std Residual |
|-------------------------|

Total Observations in Table:  21957

             | loans$loan_status
  loans$term | Charged Off  |     Current  |  Fully Paid  |   Row Total |
-------------|-------------|-------------|-------------|-------------|
   36 months |       2029  |          0  |      14964  |      16993  |
             |   2540.011  |    388.509  |  14064.480  |             |
             |    102.808  |    388.509  |     57.530  |             |
             |     11.940% |      0.000% |     88.060% |     77.392% |
             |     61.822% |      0.000% |     82.342% |             |
             |      9.241% |      0.000% |     68.151% |             |
             |    -10.139  |    -19.711  |      7.585  |             |
-------------|-------------|-------------|-------------|-------------|
   60 months |       1253  |        502  |       3209  |       4964  |
             |    741.989  |    113.491  |   4108.520  |             |
             |    351.936  |   1329.961  |    196.941  |             |
             |     25.242% |     10.113% |     64.645% |     22.608% |
             |     38.178% |    100.000% |     17.658% |             |
             |      5.707% |      2.286% |     14.615% |             |
             |     18.760  |     36.469  |    -14.034  |             |
-------------|-------------|-------------|-------------|-------------|
Column Total |       3282  |        502  |      18173  |      21957  |
             |     14.947% |      2.286% |     82.766% |             |
-------------|-------------|-------------|-------------|-------------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  2427.685     d.f. =  2     p =  0

ERROR: Error in fisher.test(t, alternative = "two.sided"): FEXACT error 6 (f5xact).  LDKEY=484 is too small for this problem: kval=84285355.
Try increasing the size of the workspace.

## The loan term does influence loan status.

## How has the ability to own a home changed from 2007 to 2011?

In [7]:
loans1 <- separate(loans, Date, c("Ignore", "Issue_Month", "Issue_Year"), sep="/")

In [8]:
head(loans1)

  X term       loan_status Ignore Issue_Month Issue_Year home_ownership
1 1  36 months Fully Paid  12     1           2011       RENT
2 2  60 months Charged Off 12     1           2011       RENT
3 3  36 months Fully Paid  12     1           2011       RENT
4 4  36 months Fully Paid  12     1           2011       RENT
5 5  60 months Current     12     1           2011       RENT
6 6  36 months Fully Paid  12     1           2011       RENT

## Does the term of the loan influence loan status? If so, how?

In [9]:
CrossTable(loans$term, loans$loan_status, fisher=TRUE, chisq = TRUE, expected = TRUE, sresid=TRUE, format="SPSS")

   Cell Contents
|-------------------------|
|                   Count |
|         Expected Values |
| Chi-square contribution |
|             Row Percent |
|          Column Percent |
|           Total Percent |
|            Std Residual |
|-------------------------|

Total Observations in Table:  21957

             | loans$loan_status
  loans$term | Charged Off  |     Current  |  Fully Paid  |   Row Total |
-------------|-------------|-------------|-------------|-------------|
   36 months |       2029  |          0  |      14964  |      16993  |
             |   2540.011  |    388.509  |  14064.480  |             |
             |    102.808  |    388.509  |     57.530  |             |
             |     11.940% |      0.000% |     88.060% |     77.392% |
             |     61.822% |      0.000% |     82.342% |             |
             |      9.241% |      0.000% |     68.151% |             |
             |    -10.139  |    -19.711  |      7.585  |             |
-------------|-------------|-------------|-------------|-------------|
   60 months |       1253  |        502  |       3209  |       4964  |
             |    741.989  |    113.491  |   4108.520  |             |
             |    351.936  |   1329.961  |    196.941  |             |
             |     25.242% |     10.113% |     64.645% |     22.608% |
             |     38.178% |    100.000% |     17.658% |             |
             |      5.707% |      2.286% |     14.615% |             |
             |     18.760  |     36.469  |    -14.034  |             |
-------------|-------------|-------------|-------------|-------------|
Column Total |       3282  |        502  |      18173  |      21957  |
             |     14.947% |      2.286% |     82.766% |             |
-------------|-------------|-------------|-------------|-------------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  2427.685     d.f. =  2     p =  0

ERROR: Error in fisher.test(t, alternative = "two.sided"): FEXACT error 6 (f5xact).  LDKEY=484 is too small for this problem: kval=84285355.
Try increasing the size of the workspace.

## p-value is significant. Loan term does influence loan status.

## How has the ability to own a home changed from 2007 to 2011?

In [10]:
loans1 <- separate(loans, Date, c("Ignore", "Issue_Month", "Issue_Year"), sep="/")

In [11]:
head(loans1)

  X term       loan_status Ignore Issue_Month Issue_Year home_ownership
1 1  36 months Fully Paid  12     1           2011       RENT
2 2  60 months Charged Off 12     1           2011       RENT
3 3  36 months Fully Paid  12     1           2011       RENT
4 4  36 months Fully Paid  12     1           2011       RENT
5 5  60 months Current     12     1           2011       RENT
6 6  36 months Fully Paid  12     1           2011       RENT

In [12]:
loans1$Issue_YearR <- NA
loans1$Issue_YearR[loans1$Issue_Year == "2007"] <- 0
loans1$Issue_YearR[loans1$Issue_Year == "2011"] <- 1

In [13]:
loans1$RentvOwn <- NA
loans1$RentvOwn[loans1$home_ownership == "RENT"] <- 0
loans1$RentvOwn[loans1$home_ownership == "OWN"] <- 1

In [14]:
head(loans1)

  X term       loan_status Ignore Issue_Month Issue_Year home_ownership
1 1  36 months Fully Paid  12     1           2011       RENT
2 2  60 months Charged Off 12     1           2011       RENT
3 3  36 months Fully Paid  12     1           2011       RENT
4 4  36 months Fully Paid  12     1           2011       RENT
5 5  60 months Current     12     1           2011       RENT
6 6  36 months Fully Paid  12     1           2011       RENT
  Issue_YearR RentvOwn
1 1           0
2 1           0
3 1           0
4 1           0
5 1           0
6 1           0

In [15]:
CrossTable(loans1$RentvOwn, loans1$Issue_MonthR, fisher=TRUE, chisq = TRUE, mcnemar = TRUE, expected = TRUE, sresid=TRUE, format="SPSS")

ERROR: Error in CrossTable(loans1$RentvOwn, loans1$Issue_MonthR, fisher = TRUE, : x and y must have the same length

### Goodness of Fit Chi-Square

In [16]:
loans %>% group_by(loan_status) %>% summarize(count=n())

  loan_status count
1 Charged Off  3282
2 Current       502
3 Fully Paid  18173

In [17]:
observed = c(3382, 502, 18173)

In [18]:
expected = c(0.1,0.75,0.15)

In [19]:
chisq.test(x = observed, p = expected)

	Chi-squared test for given probabilities

data:  observed
X-squared = 82963, df = 2, p-value < 2.2e-16

### the p-value shows that there is significant difference between our sample and population