## Load Library

In [1]:
library("mvnormtest")
library("car")

Loading required package: carData

## Load Data

In [2]:
heartAttacks <- read.csv("/Users/kenyashiafernandez/Downloads/heartAttacks.csv")

In [4]:
head(heartAttacks)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 63  1   3  145      233  1   0       150     0     2.3     0     0  1
2 37  1   2  130      250  0   1       187     0     3.5     0     0  2
3 41  0   1  130      204  0   0       172     0     1.4     2     0  2
4 56  1   1  120      236  0   1       178     0     0.8     2     0  2
5 57  0   0  120      354  0   1       163     1     0.6     2     0  2
6 57  1   0  140      192  0   1       148     0     0.4     1     0  1
  target
1 1
2 1
3 1
4 1
5 1
6 1

## It is well-known that men are more likely to have heart attacks than women. How does gender (sex) influence some of the heart attack predictors like resting blood pressure (trestbps) and cholesterol (chol)?

## Data Wrangling

### Subsetting

In [5]:
keeps <- c("trestbps", "chol")
heartAttacks1 <- heartAttacks[keeps]

In [7]:
heartAttacks2 <- heartAttacks1[1:5000,]

### Format as a Matrix

In [8]:
heartAttacks3 <- as.matrix(heartAttacks2)

## Test Assumptions

### Multivariate Normality

In [10]:
heartAttacks4 <- na.omit(heartAttacks3)

In [11]:
mshapiro.test(t(heartAttacks4))

	Shapiro-Wilk normality test

data:  Z
W = 0.94568, p-value = 3.93e-09

### These data do not meet the assumption for MANOVAs.

### Homogeneity of Variance

In [14]:
leveneTest(heartAttacks$trestbps, heartAttacks$sex, data=heartAttacks)

Warning message in leveneTest.default(heartAttacks$trestbps, heartAttacks$sex, data = heartAttacks):
“heartAttacks$sex coerced to factor.”

      Df  F value  Pr(>F)
group   1 1.359311 0.24458
      301       NA      NA

In [15]:
leveneTest(heartAttacks$chol, heartAttacks$sex, data=heartAttacks)

Warning message in leveneTest.default(heartAttacks$chol, heartAttacks$sex, data = heartAttacks):
“heartAttacks$sex coerced to factor.”

      Df  F value  Pr(>F)
group   1 11.37598 0.0008413142
      301       NA           NA

### Absence of Multicollinearity

In [16]:
cor.test(heartAttacks$trestbps, heartAttacks$chol, method="pearson", use="complete.obs")

	Pearson's product-moment correlation

data:  heartAttacks$trestbps and heartAttacks$chol
t = 2.1534, df = 301, p-value = 0.03208
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.01064389 0.23262366
sample estimates:
      cor
0.1231742

## Analysis

In [17]:
MANOVA <- manova(cbind(trestbps, chol) ~ sex, data = heartAttacks)
summary(MANOVA)

           Df   Pillai approx F num Df den Df   Pr(>F)
sex         1 0.040235   6.2882      2    300 0.002112 **
Residuals 301
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

## Post Hocs

### ANOVAs as Post Hocs

In [18]:
summary.aov(MANOVA, test = "wilks")

 Response trestbps :
             Df Sum Sq Mean Sq F value Pr(>F)
sex           1    299  299.36  0.9732 0.3247
Residuals   301  92592  307.61

 Response chol :
             Df Sum Sq Mean Sq F value  Pr(>F)
sex           1  31778   31778  12.271 0.00053 ***
Residuals   301 779523    2590
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1