### One portion testing

In [1]:
prop.test(x = 15, n = 43, p = 0.5, alternative = "two.sided", correct = FALSE)

	1-sample proportions test without continuity correction

data:  15 out of 43, null probability 0.5
X-squared = 3.9302, df = 1, p-value = 0.04743
alternative hypothesis: true p is not equal to 0.5
95 percent confidence interval:
 0.2241859 0.4982822
sample estimates:
        p
0.3488372

### Two Proportion Testing

In [2]:
prop.test(x = c(7, 12), n = c(15, 28),
          alternative = "two.sided")

	2-sample test for equality of proportions with continuity correction

data:  c(7, 12) out of c(15, 28)
X-squared = 7.5808e-32, df = 1, p-value = 1
alternative hypothesis: two.sided
95 percent confidence interval:
 -0.3119912  0.3881817
sample estimates:
   prop 1    prop 2
0.4666667 0.4285714

### Independent Chi-Squares in R

#### Load Librarys

In [9]:
install.packages("gmodels")
library("gmodels")
install.packages("readr")
library(readr)

The downloaded binary packages are in
	/var/folders/7y/95y2flc95xd_kqlcm2mtqjp00000gn/T//RtmpUa18Pl/downloaded_packages

also installing the dependencies ‘vroom’, ‘tzdb’

The downloaded binary packages are in
	/var/folders/7y/95y2flc95xd_kqlcm2mtqjp00000gn/T//RtmpUa18Pl/downloaded_packages

In [10]:
SW_survey_renamed <- read_csv("/Users/kenyashiafernandez/Downloads/SW_survey_renamed.csv")

Rows: 1186 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (31): SeenYN, FanYN, SeenIYN, SeenIIYN, SeenIIIYN, SeenIVYN, SeenVYN, Se...
dbl  (7): RespondentID, RankI, RankII, RankIII, RankIV, RankV, RankVI

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [11]:
CrossTable(SW_survey_renamed$Age, SW_survey_renamed$RankI, fisher=TRUE, chisq = TRUE, expected = TRUE, sresid=TRUE, format="SPSS")

   Cell Contents
|-------------------------|
|                   Count |
|         Expected Values |
| Chi-square contribution |
|             Row Percent |
|          Column Percent |
|           Total Percent |
|            Std Residual |
|-------------------------|

Total Observations in Table:  819

                      | SW_survey_renamed$RankI
SW_survey_renamed$Age |        1  |        2  |        3  |        4  |        5  |        6  | Row Total |
----------------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
                 > 60 |       53  |       22  |       36  |       50  |       13  |       18  |      192  |
                      |   28.835  |   16.645  |   30.007  |   54.623  |   23.209  |   38.681  |           |
                      |   20.251  |    1.723  |    1.197  |    0.391  |    4.491  |   11.057  |           |
                      |   27.604% |   11.458% |   18.750% |   26.042% |    6.771% |    9.375% |   23.443% |
                      |   43.089% |   30.986% |   28.125% |   21.459% |   13.131% |   10.909% |           |
                      |    6.471% |    2.686% |    4.396% |    6.105% |    1.587% |    2.198% |           |
                      |    4.500  |    1.313  |    1.094  |   -0.625  |   -2.119  |   -3.325  |           |
----------------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
                18-29 |       21  |       15  |       20  |       42  |       33  |       49  |      180  |
                      |   27.033  |   15.604  |   28.132  |   51.209  |   21.758  |   36.264  |           |
                      |    1.346  |    0.023  |    2.351  |    1.656  |    5.808  |    4.473  |           |
                      |   11.667% |    8.333% |   11.111% |   23.333% |   18.333% |   27.222% |   21.978% |
                      |   17.073% |   21.127% |   15.625% |   18.026% |   33.333% |   29.697% |           |
                      |    2.564% |    1.832% |    2.442% |    5.128% |    4.029% |    5.983% |           |
                      |   -1.160  |   -0.153  |   -1.533  |   -1.287  |    2.410  |    2.115  |           |
----------------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
                30-44 |       15  |       11  |       28  |       57  |       25  |       71  |      207  |
                      |   31.088  |   17.945  |   32.352  |   58.890  |   25.022  |   41.703  |           |
                      |    8.325  |    2.688  |    0.585  |    0.061  |    0.000  |   20.581  |           |
                      |    7.246% |    5.314% |   13.527% |   27.536% |   12.077% |   34.300% |   25.275% |
                      |   12.195% |   15.493% |   21.875% |   24.464% |   25.253% |   43.030% |           |
                      |    1.832% |    1.343% |    3.419% |    6.960% |    3.053% |    8.669% |           |
                      |   -2.885  |   -1.639  |   -0.765  |   -0.246  |   -0.004  |    4.537  |           |
----------------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
                45-60 |       34  |       23  |       44  |       84  |       28  |       27  |      240  |
                      |   36.044  |   20.806  |   37.509  |   68.278  |   29.011  |   48.352  |           |
                      |    0.116  |    0.231  |    1.123  |    3.620  |    0.035  |    9.429  |           |
                      |   14.167% |    9.583% |   18.333% |   35.000% |   11.667% |   11.250% |   29.304% |
                      |   27.642% |   32.394% |   34.375% |   36.052% |   28.283% |   16.364% |           |
                      |    4.151% |    2.808% |    5.372% |   10.256% |    3.419% |    3.297% |           |
                      |   -0.340  |    0.481  |    1.060  |    1.903  |   -0.188  |   -3.071  |           |
----------------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
         Column Total |      123  |       71  |      128  |      233  |       99  |      165  |      819  |
                      |   15.018% |    8.669% |   15.629% |   28.449% |   12.088% |   20.147% |           |
----------------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  101.5626     d.f. =  15     p =  6.592143e-15

ERROR: Error in fisher.test(t, alternative = "two.sided"): FEXACT error 6 (f5xact).  LDKEY=617 is too small for this problem: kval=1496108167.
Try increasing the size of the workspace.

### Goodness of Fit Chi-Squares in R

#### Load in Library

In [12]:
library("dplyr")

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

#### Load in data

In [13]:
SW_survey_renamed <- read_csv("/Users/kenyashiafernandez/Downloads/SW_survey_renamed.csv")

Rows: 1186 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (31): SeenYN, FanYN, SeenIYN, SeenIIYN, SeenIIIYN, SeenIVYN, SeenVYN, Se...
dbl  (7): RespondentID, RankI, RankII, RankIII, RankIV, RankV, RankVI

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

#### Data Wrangling

In [14]:
SW_survey_renamed %>% group_by(FanYN) %>% summarize(count=n())

  FanYN count
1 No    284
2 Yes   552
3 NA    350

#### Run Analyst

In [16]:
observed = c(552, 284)

In [17]:
expected = c(0.90, 0.10)

In [18]:
chisq.test(x = observed, p = expected)

	Chi-squared test for given probabilities

data:  observed
X-squared = 533.76, df = 1, p-value < 2.2e-16

### McNemar Chi-Squares

#### Load in libraries

In [19]:
library("gmodels")
library("tidyr")

#### Load in data

In [20]:
bakery_sales <- read_csv("/Users/kenyashiafernandez/Downloads/bakery_sales.csv")

Rows: 21293 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): Date, Item
dbl  (1): Transaction
time (1): Time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

### Data Wrangling

#### Check structure of data

In [21]:
str(bakery_sales)

spec_tbl_df [21,293 × 4] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Date       : chr [1:21293] "10/30/2016" "10/30/2016" "10/30/2016" "10/30/2016" ...
 $ Time       : 'hms' num [1:21293] 09:58:11 10:05:34 10:05:34 10:07:57 ...
  ..- attr(*, "units")= chr "secs"
 $ Transaction: num [1:21293] 1 2 2 3 3 3 4 5 5 5 ...
 $ Item       : chr [1:21293] "Bread" "Scandinavian" "Scandinavian" "Hot chocolate" ...
 - attr(*, "spec")=
  .. cols(
  ..   Date = col_character(),
  ..   Time = col_time(format = ""),
  ..   Transaction = col_double(),
  ..   Item = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

#### Reformatting to a date

In [22]:
bakery_sales$DateR <- as.Date(bakery_sales$Date, format="%m/%d/%Y")

#### Separating the pieces of the date variable

In [23]:
bakery_sales1 <- separate(bakery_sales, DateR, c("Year", "Month", "Day"), sep="-")

#### Recoding to begining or end of the month

In [24]:
bakery_sales1$DayR <- NA
bakery_sales1$DayR[bakery_sales1$Day <= 15] <- 0
bakery_sales1$DayR[bakery_sales1$Day > 15] <- 1

#### Recoding to coffee or other

In [25]:
bakery_sales1$CoffeeSales <- NA
bakery_sales1$CoffeeSales[bakery_sales1$Item == "Coffee"] <- 1
bakery_sales1$CoffeeSales[bakery_sales1$Item != "Coffee"] <- 0

### Test assumptions and run analysis

In [26]:
CrossTable(bakery_sales1$DayR, bakery_sales1$CoffeeSales, fisher=TRUE, chisq = TRUE, mcnemar = TRUE, expected = TRUE, sresid=TRUE, format="SPSS")

   Cell Contents
|-------------------------|
|                   Count |
|         Expected Values |
| Chi-square contribution |
|             Row Percent |
|          Column Percent |
|           Total Percent |
|            Std Residual |
|-------------------------|

Total Observations in Table:  21293

                   | bakery_sales1$CoffeeSales
bakery_sales1$DayR |        0  |        1  | Row Total |
-------------------|-----------|-----------|-----------|
                 0 |     8238  |     2841  |    11079  |
                   | 8232.374  | 2846.626  |           |
                   |    0.004  |    0.011  |           |
                   |   74.357% |   25.643% |   52.031% |
                   |   52.067% |   51.928% |           |
                   |   38.689% |   13.342% |           |
                   |    0.062  |   -0.105  |           |
-------------------|-----------|-----------|-----------|
                 1 |     7584  |     2630  |    10214  |
                   | 7589.626  | 2624.374  |           |
                   |    0.004  |    0.012  |           |
                   |   74.251% |   25.749% |   47.969% |
                   |   47.933% |   48.072% |           |
                   |   35.617% |   12.351% |           |
                   |   -0.065  |    0.110  |           |
-------------------|-----------|-----------|-----------|
      Column Total |    15822  |     5471  |    21293  |
                   |   74.306% |   25.694% |           |
-------------------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  0.03119586     d.f. =  1     p =  0.8598041

Pearson's Chi-squared test with Yates' continuity correction
------------------------------------------------------------
Chi^2 =  0.02589738     d.f. =  1     p =  0.8721512


McNemar's Chi-squared test
------------------------------------------------------------
Chi^2 =  2157.894     d.f. =  1     p =  0

McNemar's Chi-squared test with continuity correction
------------------------------------------------------------
Chi^2 =  2156.985     d.f. =  1     p =  0


Fisher's Exact Test for Count Data
------------------------------------------------------------
Sample estimate odds ratio:  1.00556

Alternative hypothesis: true odds ratio is not equal to 1
p =  0.8629243
95% confidence interval:  0.9450908 1.06987

Alternative hypothesis: true odds ratio is less than 1
p =  0.5762927
95% confidence interval:  0 1.059359

Alternative hypothesis: true odds ratio is greater than 1
p =  0.4360365
95% confidence interval:  0.9545028 Inf



       Minimum expected frequency: 2624.374